
<!doctype html>
<html lang="en">
    <body>
        <div th:fragment="navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal" th:text="${app_name}"></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#"><span class="fas fa-plus"></span> New Project</a>
                <a class="p-2 text-dark" href="#">Projects</a>
            </nav>
            <a class="btn btn-outline-info mr-2" sec:authorize="isAnonymous()" href="#">Sign up</a>
            <a class="btn btn-outline-primary mr-2" sec:authorize="isAnonymous()" href="#">Log in</a>
            <a class="p2 text-dark" sec:authentication="name"></a>
        </div>
    </body>
</html>